<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/bootstrp/bootstrap.bundle.js}"
          rel="stylesheet">
    <script th:href="@{/scrpts/bootstrap/bootstrap.css}"
          type="text/javascript"></script>
</head>
<body>
<div class="card">
    <div class="card-header">
        Calculo de Promedio - Cibertec
    </div>
    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="txtcl1" placeholder="name@example.com">
                <label for="txtcl1">Ingrese nota de CL1</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="txtcl2" placeholder="name@example.com">
                <label for="txtcl2">Ingrese nota de CL2</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="txtcl3" placeholder="name@example.com">
                <label for="txtcl3">Ingrese nota de CL3</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="txtprofin" placeholder="name@example.com">
                <label for="txtprofin">Ingrese nota del Proyecto Final</label>
            </div>
            <button type="submit" class="btn btn-success">Calcular Promedio</button>
            <hr/>
            <div class="alert alert-dark" role="alert">
                A simple dark alert—check it out!
            </div>
        </form>
    </div>
</div>

</body>
</html>